<!DOCTYPE html>
<html>
  <head>
    <title>Bem-vindo!</title>
  </head>
  <body
    style="
      text-align: center;
      border: 3px solid <%= corPrimaria %>;
      border-radius: 10px;
      padding: 10px 0;
      font-family: Arial, Helvetica, sans-serif;
    "
  >
    <h2 style="color: #333333">Equipe <%= nomePlataforma %></h2>
    <h4 style="color: #333333">
      <%= nomePlataforma %> - Marketplace de Energia
    </h4>
    <hr
      style="
        width: 100%;
        height: 3px;
        background-color: <%= corPrimaria %>;
        border: none;
        border-radius: 5px;
      "
    />
    <br />
    <br />
    <br />
    <div
      style="
        padding: 10px;
        background-color: <%= corPrimaria %>;
        border-radius: 10px;
      "
    >
      <img src="<%= urlLogo %>" style="width: 200px" />
    </div>
    <br />
    <br />
    <h2 style="color: #333333"><%= nomeCliente %></h2>
    <p style="color: #333333">
      <b><%= nomeParceiro %></b> te convida a <b>economizar até 25%</b> na sua
      conta de energia!
    </p>
    <p style="color: #333333">
      Não perca tempo e nos envie a sua conta de energia. Basta clickar no botão
      a seguir.
    </p>
    <br />
    <a
      href=""
      style="
        text-decoration: none;
        padding: 10px 20px;
        background-color: <%= corPrimaria %>;
        border-radius: 5px;
        color: #ffffff;
      "
    >
      Anexar Conta
    </a>
    <br />
    <br />
    <br />
    <hr
      style="
        width: 100%;
        height: 3px;
        background-color: <%= corPrimaria %>;
        border: none;
        border-radius: 5px;
      "
    />
    <br />
    <a href="">https://wegen.com.br</a>
  </body>
</html>
