<!DOCTYPE html>
<html>
  <head>
    <title>Bem-vindo!</title>
  </head>
  <body
    style="
      text-align: center;
      border: 3px solid <%= corPrimaria %>;
      border-radius: 10px;
      padding: 10px 0;
      font-family: Arial, Helvetica, sans-serif;
    "
  >
    <h2 style="color: #333333">Equipe <%= nomePlataforma %></h2>
    <h4 style="color: #333333">
      <%= nomePlataforma %> - Marketplace de Energia
    </h4>
    <hr
      style="
        width: 100%;
        height: 3px;
        background-color: <%= corPrimaria %>;
        border: none;
        border-radius: 5px;
      "
    />
    <br />
    <br />
    <br />
    <div
      style="
        padding: 10px;
        background-color: <%= corPrimaria %>;
        border-radius: 10px;
      "
    >
      <img src="<%= urlLogo %>" style="width: 200px" />
    </div>
    <br />
    <br />
    <h2 style="color: #333333"><%= nomeParceiro %></h2>
    <p style="color: #333333">
      Uma nova solicitaçõ de proposta foi gerada através do seu link de convite.
      Acesse o sistema e confira!
    </p>
    <br />
    <br />
    <br />
    <br />
    <hr
      style="
        width: 100%;
        height: 3px;
        background-color: <%= corPrimaria %>;
        border: none;
        border-radius: 5px;
      "
    />
    <br />
    <a href="https://wegen.com.br">https://wegen.com.br</a>
  </body>
</html>
